# Virtual Environment
venv/
env/
.env/
.venv/

# VS Code
.vscode/
.history/

# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Test Results
*_validation.csv

# OS specific
.DS_Store
Thumbs.db
